datasets/raw/*.csv
datasets/raw/*.xlsx
# Virtual environment
urban_env/
venv/
.env

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db